canvas{
  position:fixed;
  top: 0;
  left:0;
}


main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

p,
h2,
h3,h1 {
  color: lawngreen;
  margin: 0.1em;
  font-family: "Lucida Console", "Courier New", monospace;
}

i{
  color:lawngreen;
}

section{
  grid-column: 2/ span 10;
  padding: 2rem;
  margin-bottom: 500px;
  margin-top: 200px;
}

.welcome{
  grid-column: 5 /span 5;
  font-size: 2.5rem;
  background-color: black;
  text-align: center;
}

.contact{
  grid-column: 5 /span 5;
  font-size: 2.5rem;
  background-color: black;
  text-align: center;
  margin-bottom:200px;
}

.intro{
  grid-column: 8/ span 4;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 200px;
}

.exp{
  grid-column: 2 / span 6;
  padding: 1rem;
  font-size: 1.25rem;
}

.ed{
  grid-column: 6 / span 6;
  padding: 1rem;
  font-size: 1.25rem;
  background: rgba(0, 0, 0, 0.5);
}

.tab1{
  margin-left:1em;
}
.tab2{
  margin-left:2em;
}
.tab3{
  margin-left:3em;
}
.tab4{
  margin-left:4em;
}